<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="form-group">
                <label for="title">Title</label>
                <input #title="ngModel" ngModel name="title" id= "title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    title is required.
                </div>
            </div> 
            
            <div class="form-group"> 
                <label for="price">Price</label>
                <div class="input-group">
                   
                    <span class="input-group-addon">R</span>
                    <input #title="ngModel" ngModel name="price" id= "price" type="number" class="form-control" required [min]="0">
                    <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                        <div *ngIf="price.errors.required">Price is required</div>
                        <div *ngIf="price.errors.min">Price cannot be a negetive</div> 
                    </div>
                </div>
                
            </div>  
            
            <div class="form-group">
                <label for="doctors">Doctor type</label>
                <select #doctors = "ngModel" ngModel name="doctors" id= "doctors"  class="form-control" required url>
                    
                   <option value="">dentist</option>
                      <option *ngFor="let c of doctors$ | async"   [value]="c.$key">
                       {{ c.name }}  
                       </option>
                       <div class="alert alert-danger" *ngIf="doctors.touched && doctors.invalid">
                           <div *ngIf="imageUrl.errors.required">you need to choose doctor type</div>
                           <div *ngIf="imageUrl.errors.url">enter valid url</div>
                        
                    </div>
                 </select>
            
            </div> 
            
            <div class="form-group">
                <label for="imageUrl">Image Url</label>
                <input #imageUrl = "ngModel" ngModel name="imageUrl" id= "imageUrl" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid"></div>
            </div>
            <button class="btn btn-primary">Save</button>
            </form>
      </div>





