<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h2 class="font-weight-light">HOME</h2>
      <div class="card" style="width: 18rem;">
        <img src="https://pxhere.com/en/photo/955801" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">WELCOME</h5>
          <p class="card-text">Welcom to the Online Doctor booking application. To make your booking please start by creating an account </p>
          <a class="btn btn-primary" routerLink = "/create-account">Create account</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
