<h5>home</h5>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Create consultation account</h5>
      <p class="card-text">In order for you to book for a consultation, you have to create an account. click on create account button below</p>
      <button type="button" class="btn btn-primary btn-lg" routerLink="/create-account">Create account</button>

    </div>
  </div>
<div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Log in</h5>
          <p class="card-text">Log in with your google account</p>
          <button type="button" class="btn btn-secondary btn-lg" routerLink="/login">Log In</button>
    
        </div>
      </div>
    <div>
   
</div>
